{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style>
    body {
        background-image: url('{% static "img/bg3.jpg"%}');
        background-size: auto;
    }

    .container {
        background-color: lightgray;
        margin-top: 25px;
        padding: 10px;
        padding-top: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        font: 16px "Times New Roman", Times, serif;
        width: 50%;
    }

    .container h2 {
        background: #4D4D4D;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed', sans-serif !important;
        color: silver;
        font-size: 18px;
        font-weight: 100;
        padding: 20px;
        margin: -30px -30px 30px -30px;
    }

    .login p {
        background: #4D4D4D !important;
        color: #797979 !important;
        font-size: 18px !important;
    }
</style>
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            <h2>Create new poll</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Add Poll</button>
                <a class="btn btn-warning" href="{% url 'polls:list' %}" role="button">Back</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}